<%= form_with(model: histoire, local: true) do |form| %>
  <% if histoire.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(histoire.errors.count, "error") %> prohibited this histoire from being saved:</h2>

      <ul>
        <% histoire.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :titre %>
    <%= form.text_field :titre %>
  </div>

  <div class="field">
    <%= form.label :contenu %>
    <%= form.text_area :contenu %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
