<p id="notice"><%= notice %></p>

<p>
  <strong>Titre:</strong>
  <%= @histoire.titre %>
</p>

<p>
  <strong>Contenu:</strong>
  <%= @histoire.contenu %>
</p>

<%= link_to 'Edit', edit_histoire_path(@histoire) %> |
<%= link_to 'Back', histoires_path %>
